<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="DebugLogFile" xsi:type="File" fileName="DebugFile.txt" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
    <target name="InfoLogFile" xsi:type="File" fileName="InfoFile.txt" layout="${longdate}|${level:uppercase=true}|${logger}|${message}"/>
    <target name="ErrorLogFile" xsi:type="File" filename="ErrorFile.txt" layout="${longdate}|${level:uppercase=true}|${logger}|${message}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="info" writeTo="InfoLogFile" />
    <logger name="*" minlevel="Debug" writeTo="DebugLogFile"/>
    <logger name="*" minlevel ="Error" writeTo="ErrorLogFile"/>
  </rules>
</nlog>
